{% extends 'base.html' %}
{% block 'title' %}Trend Fusion | Branded Clothing{% endblock 'title' %}

{% block 'content' %}
<section class="home-banner">
    <div class="swiper home-slide">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <img src="/static/images/banner1.webp" alt="">
            </div>
            <div class="swiper-slide">
                <img src="/static/images/banner2.webp" alt="">
            </div>
        </div>
    </div>
</section>

<section class="top-category pad">
    <div class="container">
        <div class="row g-4">
            <div class="col-md-4">
                <div class="cat-box">
                    <a href="#"></a>
                    <img src="/static/images/category-1.jpg" alt="">
                    <h4>Garments</h4>
                </div>
            </div>
            <div class="col-md-4">
                <div class="cat-box">
                    <a href="#"></a>
                    <img src="/static/images/category-2.jpg" alt="">
                    <h4>Shoes</h4>
                </div>
            </div>
            <div class="col-md-4">
                <div class="cat-box">
                    <a href="#"></a>
                    <img src="/static/images/category-3.jpg" alt="">
                    <h4>Accessories</h4>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="new-arrival bottompad">
    <h2 class="text-center with-border mb-0">New Arrival</h2>

    <div class="swiper product-slider mt-4">
        <!-- <div class="swiper-wrapper">
            <div class="swiper-slide">
                <div class="product-box">
                    <span class="tag">SALE</span>
                    <div class="img-con">
                        <a href="#"><img src="/static/images/women-1.webp" alt=""></a>
                    </div>
                    <div class="cont px-2">
                        <p class="vendor">Trend Fusion</p>
                        <h3 class="product-title"><a href="#">(Product 4) Sample - Clothes And Accessories For Sale</a>
                        </h3>
                        <div class="price">
                            <span class="compare"><s>$99.00</s></span>
                            <span class="new-price">$199.00</span>
                        </div>
                    </div>

                </div>
            </div>
            <div class="swiper-slide">
                <div class="product-box">
                    <span class="tag">SALE</span>
                    <div class="img-con">
                        <a href="#"><img src="/static/images/women-1.webp" alt=""></a>
                        <div class="add-btn">
                            <button class="add-btn">QUICK ADD</button>
                        </div>
                    </div>
                    <div class="cont px-2">
                        <p class="vendor">Trend Fusion</p>
                        <h3 class="product-title"><a href="#">(Product 4) Sample - Clothes And Accessories For Sale</a>
                        </h3>
                        <div class="price">
                            <span class="compare"><s>$99.00</s></span>
                            <span class="new-price">$199.00</span>
                        </div>
                    </div>

                </div>
            </div>
            <div class="swiper-slide">
                <div class="product-box">
                    <span class="tag">SALE</span>
                    <div class="img-con">
                        <a href="#"><img src="/static/images/women-1.webp" alt=""></a>
                    </div>
                    <div class="cont px-2">
                        <p class="vendor">Trend Fusion</p>
                        <h3 class="product-title"><a href="#">(Product 4) Sample - Clothes And Accessories For Sale</a>
                        </h3>
                        <div class="price">
                            <span class="compare"><s>$99.00</s></span>
                            <span class="new-price">$199.00</span>
                        </div>
                    </div>

                </div>
            </div>
            <div class="swiper-slide">
                <div class="product-box">
                    <span class="tag">SALE</span>
                    <div class="img-con">
                        <a href="#"><img src="/static/images/women-1.webp" alt=""></a>
                    </div>
                    <div class="cont px-2">
                        <p class="vendor">Trend Fusion</p>
                        <h3 class="product-title"><a href="#">(Product 4) Sample - Clothes And Accessories For Sale</a>
                        </h3>
                        <div class="price">
                            <span class="compare"><s>$99.00</s></span>
                            <span class="new-price">$199.00</span>
                        </div>
                    </div>

                </div>
            </div>
            <div class="swiper-slide">
                <div class="product-box">
                    <span class="tag">SALE</span>
                    <div class="img-con">
                        <a href="#"><img src="/static/images/women-1.webp" alt=""></a>
                    </div>
                    <div class="cont px-2">
                        <p class="vendor">Trend Fusion</p>
                        <h3 class="product-title"><a href="#">(Product 4) Sample - Clothes And Accessories For Sale</a>
                        </h3>
                        <div class="price">
                            <span class="compare"><s>$99.00</s></span>
                            <span class="new-price">$199.00</span>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div> -->
        <div class="row">
            <div class="col-md-3">
                <div class="product-box">
                    <span class="tag">SALE</span>
                    <div class="img-con">
                        <a href="#"><img src="/static/images/women-1.webp" alt=""></a>
                        <div class="add-btn">
                            <button class="btn btn-outline-dark">QUICK ADD</button>
                        </div>
                        <!-- <div class="add-box">
                            <form action="">

                            </form>                            
                        </div> -->
                    </div>
                    <div class="cont px-2">
                        <p class="vendor">Trend Fusion</p>
                        <h3 class="product-title"><a href="#">(Product 4) Sample - Clothes And Accessories For Sale</a>
                        </h3>
                        <div class="price">
                            <span class="compare"><s>$99.00</s></span>
                            <span class="new-price">$199.00</span>
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-md-3">
                <div class="product-box">
                    <span class="tag">SALE</span>
                    <div class="img-con">
                        <a href="#"><img src="/static/images/women-1.webp" alt=""></a>
                        <div class="add-btn">
                            <button class="btn btn-outline-dark">QUICK ADD</button>
                        </div>
                        <!-- <div class="add-box">
                            <form action="">

                            </form>                            
                        </div> -->
                    </div>
                    <div class="cont px-2">
                        <p class="vendor">Trend Fusion</p>
                        <h3 class="product-title"><a href="#">(Product 4) Sample - Clothes And Accessories For Sale</a>
                        </h3>
                        <div class="price">
                            <span class="compare"><s>$99.00</s></span>
                            <span class="new-price">$199.00</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="product-box">
                    <span class="tag">SALE</span>
                    <div class="img-con">
                        <a href="#"><img src="/static/images/women-1.webp" alt=""></a>
                        <div class="add-btn">
                            <button class="btn btn-outline-dark">QUICK ADD</button>
                        </div>
                        <!-- <div class="add-box">
                            <form action="">

                            </form>                            
                        </div> -->
                    </div>
                    <div class="cont px-2">
                        <p class="vendor">Trend Fusion</p>
                        <h3 class="product-title"><a href="#">(Product 4) Sample - Clothes And Accessories For Sale</a>
                        </h3>
                        <div class="price">
                            <span class="compare"><s>$99.00</s></span>
                            <span class="new-price">$199.00</span>
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-md-3">
                <div class="product-box">
                    <span class="tag">SALE</span>
                    <div class="img-con">
                        <a href="#"><img src="/static/images/women-1.webp" alt=""></a>
                        <div class="add-btn">
                            <button class="btn btn-outline-dark">QUICK ADD</button>
                        </div>
                        <!-- <div class="add-box">
                            <form action="">

                            </form>                            
                        </div> -->
                    </div>
                    <div class="cont px-2">
                        <p class="vendor">Trend Fusion</p>
                        <h3 class="product-title"><a href="#">(Product 4) Sample - Clothes And Accessories For Sale</a>
                        </h3>
                        <div class="price">
                            <span class="compare"><s>$99.00</s></span>
                            <span class="new-price">$199.00</span>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>
</section>

<section class="featured-section">
    <div class="container-fluid px-0">
        <div class="row g-0">
            <div class="col-md-6">
                <div class="fet-box">
                    <img src="/static/images/featured1.webp" alt="">
                    <div class="cont">
                        <h2>COATS IN TREND</h2>
                        <a href="#" class="btn btn-light tsp">Shop Now</a>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-6">
                        <div class="product-box">
                            <span class="tag">SALE</span>
                            <div class="img-con">
                                <a href="#"><img src="/static/images/women-1.webp" alt=""></a>
                                <div class="add-btn">
                                    <button class="btn btn-outline-dark">QUICK ADD</button>
                                </div>
                                <!-- <div class="add-box">
                            <form action="">

                            </form>                            
                        </div> -->
                            </div>
                            <div class="cont px-2">
                                <p class="vendor">Trend Fusion</p>
                                <h3 class="product-title"><a href="#">(Product 4) Sample - Clothes And Accessories For
                                        Sale</a>
                                </h3>
                                <div class="price">
                                    <span class="compare"><s>$99.00</s></span>
                                    <span class="new-price">$199.00</span>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="product-box">
                            <span class="tag">SALE</span>
                            <div class="img-con">
                                <a href="#"><img src="/static/images/women-1.webp" alt=""></a>
                                <div class="add-btn">
                                    <button class="btn btn-outline-dark">QUICK ADD</button>
                                </div>
                                <!-- <div class="add-box">
                            <form action="">

                            </form>                            
                        </div> -->
                            </div>
                            <div class="cont px-2">
                                <p class="vendor">Trend Fusion</p>
                                <h3 class="product-title"><a href="#">(Product 4) Sample - Clothes And Accessories For
                                        Sale</a>
                                </h3>
                                <div class="price">
                                    <span class="compare"><s>$99.00</s></span>
                                    <span class="new-price">$199.00</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-6">
                        <div class="product-box">
                            <span class="tag">SALE</span>
                            <div class="img-con">
                                <a href="#"><img src="/static/images/women-1.webp" alt=""></a>
                                <div class="add-btn">
                                    <button class="btn btn-outline-dark">QUICK ADD</button>
                                </div>
                                <!-- <div class="add-box">
                            <form action="">

                            </form>                            
                        </div> -->
                            </div>
                            <div class="cont px-2">
                                <p class="vendor">Trend Fusion</p>
                                <h3 class="product-title"><a href="#">(Product 4) Sample - Clothes And Accessories For
                                        Sale</a>
                                </h3>
                                <div class="price">
                                    <span class="compare"><s>$99.00</s></span>
                                    <span class="new-price">$199.00</span>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="product-box">
                            <span class="tag">SALE</span>
                            <div class="img-con">
                                <a href="#"><img src="/static/images/women-1.webp" alt=""></a>
                                <div class="add-btn">
                                    <button class="btn btn-outline-dark">QUICK ADD</button>
                                </div>
                                <!-- <div class="add-box">
                            <form action="">

                            </form>                            
                        </div> -->
                            </div>
                            <div class="cont px-2">
                                <p class="vendor">Trend Fusion</p>
                                <h3 class="product-title"><a href="#">(Product 4) Sample - Clothes And Accessories For
                                        Sale</a>
                                </h3>
                                <div class="price">
                                    <span class="compare"><s>$99.00</s></span>
                                    <span class="new-price">$199.00</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="fet-box">
                    <img src="/static/images/featured2.webp" alt="">
                    <div class="cont">
                        <h2>CLASSYWEAR</h2>
                        <a href="#" class="btn btn-light tsp">Shop Now</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock 'content' %}